
@{
    ViewData["Title"] = "NoBooks";
}

<h1>NoBooks</h1>

<body>
    <h1 class="text-center"></h1>
    <p class="text-center">Henüz bu kategoriye ait kitaplar yok :(</p>
    <p class="text-center"> Ana Sayfaya Dönmek İçin Tıklatın:<a href="/" class="btn btn-dark">Anasayfa</a></p>

</body>